<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Hi {{fullName}},</p>
    <p>Here's your account credentials please save.</p>
    <p>Username: {{username}}</p>
    <p>Password: {{password}}</p>
    <p style="font-weight: 600;">This is system generated. Dont Reply</p>
  </body>
</html>